**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea

docker/upload
docker/library
uploads
coverage

node_modules
docker/app-data

open-api/typescript-sdk/build


vite.config.js.timestamp-*
.pnpm-store
.devcontainer/library
.devcontainer/.env*
